.vscode/settings.json
pj2_conda/scr1/scr1/__pycache__/settings.cpython-36.pyc
pj2_conda/scr1/scr1/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/test2.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/test1.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/wiki.cpython-36.pyc
pj2_conda/scr1/scrapy.cfg
stockPJ/myApp/env32/.vscode/settings.json
stockPJ/myApp/env32/.vscode/settings.json
stockPJ/myApp/env32/.vscode/settings.json
stockPJ/myApp/env32/.vscode/settings.json
pj2_conda/scr2/scr2/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr2/scr2/__pycache__/settings.cpython-36.pyc
pj2_conda/scr2/scr2/spiders/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr2/scr2/spiders/__pycache__/wiki2.cpython-36.pyc
pj2_conda/scr3/scrapy.cfg
pj2_conda/scr3/scr3/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr3/scr3/__pycache__/settings.cpython-36.pyc
pj2_conda/scr3/scr3/spiders/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr3/scr3/spiders/__pycache__/mov.cpython-36.pyc
stockPJ/myApp/env32/.vscode/settings.json
pj2_conda/scr2/scrapy.cfg
pj2_conda/scr2/scr2/spiders/__init__.py
pj2_conda/scr2/scr2/__init__.py
pj2_conda/scr2/scr2/items.py
pj2_conda/scr2/scr2/middlewares.py
pj2_conda/scr2/scr2/pipelines.py
pj2_conda/scr3/scr3/middlewares.py
pj2_conda/scr3/scr3/pipelines.py
pj2_conda/scr3/scr3/settings.py
pj2_conda/scr3/scr3/spiders/__init__.py
pj2_conda/scr3/scr3/__init__.py
pj2_conda/scr3/scr3/items.py
stockPJ/myApp/env32/.vscode/settings.json
