.vscode/settings.json
pj2_conda/scr1/scr1/__pycache__/settings.cpython-36.pyc
pj2_conda/scr1/scr1/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/test2.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/test1.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/wiki.cpython-36.pyc
pj2_conda/scr1/scrapy.cfg
stockPJ/myApp/env32/.vscode/settings.json
stockPJ/myApp/env32/.vscode/settings.json
stockPJ/myApp/env32/.vscode/settings.json
stockPJ/myApp/env32/.vscode/settings.json
pj2_conda/scr2/scr2/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr2/scr2/__pycache__/settings.cpython-36.pyc
pj2_conda/scr2/scr2/spiders/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr2/scr2/spiders/__pycache__/wiki2.cpython-36.pyc
pj2_conda/scr3/scrapy.cfg
pj2_conda/scr3/scr3/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr3/scr3/__pycache__/settings.cpython-36.pyc
pj2_conda/scr3/scr3/spiders/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr3/scr3/spiders/__pycache__/mov.cpython-36.pyc
stockPJ/myApp/env32/.vscode/settings.json
pj2_conda/scr2/scrapy.cfg
pj2_conda/scr2/scr2/spiders/__init__.py
pj2_conda/scr2/scr2/__init__.py
pj2_conda/scr2/scr2/items.py
pj2_conda/scr2/scr2/middlewares.py
pj2_conda/scr2/scr2/pipelines.py
pj2_conda/scr3/scr3/middlewares.py
pj2_conda/scr3/scr3/pipelines.py
pj2_conda/scr3/scr3/settings.py
pj2_conda/scr3/scr3/spiders/__init__.py
pj2_conda/scr3/scr3/__init__.py
pj2_conda/scr3/scr3/items.py
stockPJ/myApp/env32/.vscode/settings.json
pj2_conda/scr3/scr3/spiders/__pycache__/mov2.cpython-36.pyc
stockPJ/myApp/env64/BB_TF_buylist.csv
stockPJ/myApp/env64/BB_RV_buylist.csv
stockPJ/myApp/env64/BB_RV_buylist.csv
pj3_django/config/board/__pycache__/__init__.cpython-36.pyc
pj3_django/config/board/__pycache__/admin.cpython-36.pyc
pj3_django/config/board/__pycache__/models.cpython-36.pyc
pj3_django/config/board/migrations/__pycache__/__init__.cpython-36.pyc
pj3_django/config/board/migrations/__pycache__/0001_initial.cpython-36.pyc
pj3_django/config/board/migrations/__pycache__/0002_auto_20210105_1228.cpython-36.pyc
pj3_django/config/board/migrations/__pycache__/0003_delete_board.cpython-36.pyc
pj3_django/config/config/__pycache__/__init__.cpython-36.pyc
pj3_django/config/config/__pycache__/settings.cpython-36.pyc
pj3_django/config/config/__pycache__/urls.cpython-36.pyc
pj3_django/config/db.sqlite3
pj3_django/config/board/__init__.py
pj3_django/config/config/settings.py
pj3_django/config/config/__init__.py
pj3_django/config/config/asgi.py
pj3_django/config/config/urls.py
pj3_django/config/config/wsgi.py
pj3_django/config/manage.py
pj3_django/config/board/migrations/__init__.py
pj3_django/config/board/admin.py
pj3_django/config/config/__pycache__/wsgi.cpython-36.pyc
pj3_django/config/polls/__init__.py
pj3_django/config/polls/__pycache__/admin.cpython-36.pyc
pj3_django/config/polls/__pycache__/models.cpython-36.pyc
pj3_django/config/polls/__pycache__/__init__.cpython-36.pyc
pj3_django/config/polls/migrations/0001_initial.py
pj3_django/config/polls/migrations/__init__.py
pj3_django/config/polls/migrations/__pycache__/__init__.cpython-36.pyc
pj3_django/config/polls/migrations/__pycache__/0001_initial.cpython-36.pyc
pj3_django/config/member/__init__.py
pj3_django/config/member/__pycache__/__init__.cpython-36.pyc
pj3_django/config/member/__pycache__/admin.cpython-36.pyc
pj3_django/config/member/__pycache__/models.cpython-36.pyc
pj3_django/config/member/migrations/__init__.py
pj3_django/config/member/migrations/0001_initial.py
pj3_django/config/member/migrations/__pycache__/__init__.cpython-36.pyc
pj3_django/config/member/migrations/__pycache__/0001_initial.cpython-36.pyc
pj3_django/config/polls/__pycache__/urls.cpython-36.pyc
pj3_django/config/polls/__pycache__/views.cpython-36.pyc
pj3_django/config/member/migrations/0002_delete_member.py
pj3_django/config/member/migrations/0003_member.py
pj3_django/config/member/migrations/__pycache__/0002_delete_member.cpython-36.pyc
pj3_django/config/member/migrations/__pycache__/0003_member.cpython-36.pyc
pj3_django/config/member/__pycache__/urls.cpython-36.pyc
pj3_django/config/member/__pycache__/views.cpython-36.pyc
