.vscode/settings.json
pj2_conda/scr1/scr1/__pycache__/settings.cpython-36.pyc
pj2_conda/scr1/scr1/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/__init__.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/test2.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/test1.cpython-36.pyc
pj2_conda/scr1/scr1/spiders/__pycache__/wiki.cpython-36.pyc
pj2_conda/scr1/scrapy.cfg
