{%extends 'base_books.html'%}
{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>books/publisher_list.html</h1>
    <hr>
    <ul>
        {% for p in object_list%}
            <li><a href="{%url 'books:publisherdetail' p.id %}">{{p.name}}</a> - {{p.addr}}</li>
        {% endfor %}
    </ul>
    <hr>
    <a href="{% url 'books:index' %}">홈으로</a>
    <a href="{% url 'books:publisherinsert' %}">출판사 등록</a>
    
</body>
</html>
{% endblock %}