<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/spring.css"/>
</head>
<body>
    <h1>detail.html</h1>
    <hr>
    <h3>{{q.question_text}}--{{q.pup_date}}</h3>
    <!--Question 과 Choice 는 1:N관계, 외래키로 연결된 경우 모델소문자_set속성이 제공됨-->
    <!--즉, q.choice_set.all() 단 템플릿 문법상 () 생략-->
    {% if err %}
    <h3>{{err}}</h3>
    {% else %}
    <form method="post" action="{%url 'polls:vote1' q.id%}">
        {%csrf_token%}
        {%for c in q.choice_set.all%}
            <input type="radio" name="choice" value="{{c.id}}">{{c.choice_text}}<br>
        {%endfor%}
        <input type="submit" value="투표하기">
    </form>
    {% endif %}
</body>
</html>